#--------------------------#
# Magento Default Files    #
#--------------------------#
.idea/
.htaccess

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/var/*
!/var/.htaccess

!/var/package
/var/package/*
!/var/package/*.xml




BACKUP/
bin/
cache/
cli/
dev/
downloader/
errors/
images/
includes/
layouts/
libraries/
logs/
magmi/
market/
pkginfo/
shell/
utils/
var/


559dfb923b1eaf412b8b456c.txt
BingSiteAuth.xml
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt
addregion.php
api.php
cron.php
cron.sh
d4aab414e18643d5b4b0a51b981d9207.txt
error.gif
favicon.ico
get.php
google3768202f3941704a.html
htaccess.txt
htaccess2
index.php
index.php.sample
install.php
m_test_search_speed.php
mage
mailru-verification116d141ef5805b8e.html
path.php
php.ini.sample
postcode.php
robots.txt
robots.txt.dist
w1_185984558390.txt
web.config.txt
wmail_3a297d323a3ceae421c0b33b19bb8747.html
yandex_4755a7e98e56738e.txt
yandex_70158bd3f1420e6b.txt
yandex_7c54ef1e5ea65344.html
yandex_a2d3620da11c57f0.html
yandex_ea1f509b902d26de.html


#--------------------------#
# Magento Porto Theme      #
#--------------------------#

/app/*
!/app/code
/app/code/*
!/app/code/community
/app/code/community/*
!/app/code/community/AddThis

!/app/code/local
/app/code/local/*
!/app/code/local/Magegiant
!/app/code/local/Smartwave

!/app/design
/app/design/*
!/app/design/adminhtml
!/app/design/adminhtml/default/default
/app/design/adminhtml/default/default/*
!/app/design/adminhtml/default/default/layout
/app/design/adminhtml/default/default/layout/*
!/app/design/adminhtml/default/default/layout/magegiant
!/app/design/adminhtml/default/default/layout/smartwave*.xml
!/app/design/adminhtml/default/default/template
/app/design/adminhtml/default/default/template/*
!/app/design/adminhtml/default/default/template/magegiant
!/app/design/adminhtml/default/default/template/smartwave

!/app/design/frontend
/app/design/frontend/*
!/app/design/frontend/smartwave
!/app/design/frontend/base
!/app/design/frontend/base/default
/app/design/frontend/base/default/*
!/app/design/frontend/base/default/layout
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/magegiant
!/app/design/frontend/base/default/layout/smartlayers.xml
!/app/design/frontend/base/default/layout/sharingtool.xml
!/app/design/frontend/base/default/template
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/addthis
!/app/design/frontend/base/default/template/magegiant
!/app/design/frontend/base/default/template/porto

!/app/etc
/app/etc/*
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/Smartwave*
!/app/etc/modules/Magegiant*
!/app/etc/modules/AddThis*

!/app/locale
/app/locale/*
!/app/locale/ru_RU
/app/locale/ru_RU/*
!/app/locale/ru_RU/Smartwave*
!/app/locale/ru_RU/template
/app/locale/ru_RU/template/*
!/app/locale/ru_RU/template/email
/app/locale/ru_RU/template/email/*
!/app/locale/ru_RU/template/email/smartwave_blog
!/app/locale/en_GB
/app/locale/en_GB/*
!/app/locale/en_GB/Smartwave*
!/app/locale/en_GB/template
/app/locale/en_GB/template/*
!/app/locale/en_GB/template/email
/app/locale/en_GB/template/email/*
!/app/locale/en_GB/template/email/smartwave_blog

/js/*
!/js/magegiant
!/js/smartwave

/lib/*
!/lib/recaptcha
!/lib/MaxMind

/media/*
!/media/dailydeal
!/media/porto
!/media/smartwave
!/media/wysiwyg
/media/wysiwyg/*
!/media/wysiwyg/porto
!/media/wysiwyg/smartwave

/skin/*
!/skin/frontend
/skin/frontend/*
!/skin/frontend/smartwave
!/skin/frontend/base
!/skin/frontend/base/default
/skin/frontend/base/default/*
!/skin/frontend/base/default/css
/skin/frontend/base/default/css/*
!/skin/frontend/base/default/css/magegiant
!/skin/frontend/base/default/images
/skin/frontend/base/default/images/*
!/skin/frontend/base/default/images/magegiant

